# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Fraud_SQL_Pandas")

In [3]:
# Write function that locates outliers using standard deviation

def outliers(df, column):
    mean = np.mean(df[column])
    std_dev = np.std(df[column])
    df['zscore'] = (df[column]-mean)/std_dev
    outlier = df.loc[ df['zscore'].abs()>=3]
    return outlier

In [4]:
# Find anomalous transactions for 3 random card holders
query = """
        SELECT card_holder.id AS cardholder, transaction.date AS hour, transaction.amount
        FROM transaction
        JOIN credit_card ON credit_card.card = transaction.card
        JOIN card_holder ON card_holder.id = credit_card.cardholder_id
        ORDER BY hour
        """
card_holder_df = pd.read_sql(query, engine)
outliers(card_holder_df, 'amount').sample(n=3)

      cardholder                hour  amount    zscore
1541          25 2018-06-06 21:50:17   749.0  3.505750
2387           1 2018-09-06 08:28:55  1017.0  4.832391
575            3 2018-03-01 21:29:05  1119.0  5.337306

## Identifying Outliers Using Interquartile Range

In [5]:
# Write a function that locates outliers using interquartile range

def iqr_outliers(df, column, whisker_width=1.5):
    q1 = df[column].quantile(0.25)                 
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    df['filter'] =  (df[column] >= q1 - whisker_width*iqr) & (df[column] <= q3 + whisker_width*iqr) 
    outlier = df.loc[df["filter"] == False]
    return outlier

In [6]:
# Find anomalous transactions for 3 random card holders

card_holder_iqr_df = pd.read_sql(query, engine)
iqr_outliers(card_holder_df, 'amount').sample(n=3)

      cardholder                hour  amount    zscore  filter
2387           1 2018-09-06 08:28:55  1017.0  4.832391   False
3153          12 2018-11-23 09:08:05   233.0  0.951473   False
3429          16 2018-12-24 15:55:06  1634.0  7.886634   False